/* 设置全局样式 */
/* (1) 页面高度100%,默认字体28upx,默认行高1.8,背景颜色 */
page {
	height: 100%;
	font-size: 28rpx;
	line-height: 1.8;
	background: #FFFFFF;
}

body {
	padding: 0;
	margin: 0;
}

.page {
	height: 100%;
	background: #f5f5f5;
}

/* (2) 图片默认100%宽度 */
image {
	width: 100%;
	height: 100%;
}

/* 主色调 */
/* 主背景颜色（橙色）*/
.main-bg-color {
	background: #fb7299;
}

/* 主点击背景颜色（淡橙色）*/
.main-bg-color-active:active {
	background: rgba(247, 106, 133, 0.65);
}

/* 主字体颜色（橙色）*/
.main-text-color {
	color: #fb7299 !important;
}

/* 主边框颜色 */
.main-border-color {
	border-color: #fb7290;
}

/* 主题卡片 */
.main-cell {
	width: 100%;
	height: 100%;
	backdrop-filter: saturate(150%) contrast(70%) blur(1px);
	-webkit-backdrop-filter: saturate(150%) contrast(70%) blur(1px);
	background-color: rgba(255, 255, 255, .5);
	box-shadow: 0 5rpx 5rpx rgba(100, 100, 100, 0.5);
	background-size: 100% 100%;
}

/* 自定义 */
view,
text {
	box-sizing: border-box !important;
}
