/* 防止图片闪一下 */
image {
	will-change: transform
}

/* scroll-view */
.scroll-row {
	width: 100%;
	white-space: nowrap;
}

.scroll-row-item {
	display: inline-block;
}

body {
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--danger: #dc3545;
	--warning: #ffc107;
	--info: #17a2b8;
	--light: #f8f9fa;
	--dark: #343a40;
	--muted: #6c757d;
	--white: #fff;
	--borderColor: #f5f5f5;
	--lightmuted: #B2B2B2;
}

/* 阴影 */
.shadow-sm {
	box-shadow: 0 2rpx 4rpx rgba(114, 130, 138, 0.2) !important;
}

.shadow {
	box-shadow: 0 8rpx 16rpx rgba(114, 130, 138, 0.2) !important;
}

.shadow-lg {
	box-shadow: 0 16rpx 48rpx rgba(114, 130, 138, 0.2) !important;
}

/* 定位 */
.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.position-relative {
	position: relative;
}

.position-sticky {
	position: sticky;
}

.left-0 {
	left: 0;
}

.left-half {
	left: 50%;
}

.top-0 {
	top: 0;
}

.top-half {
	top: 50%;
}

.bottom-0 {
	bottom: 0;
}

.bottom-half {
	bottom: 50%;
}

.right-0 {
	right: 0;
}

.right-half {
	right: 50%;
}

/* 宽高 */
.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.h-100 {
	height: 100%;
}

.h-50 {
	width: 50%;
}

/* 字体 */
.font {
	font-size: 25rpx !important;
}

.font-sm {
	font-size: 22rpx !important;
}

.font-md {
	font-size: 30rpx !important;
}

.font-lg {
	font-size: 40rpx !important;
}

.font-big {
	font-size: 60rpx !important;
}

.font-weight {
	font-weight: bold !important;
}

.font-weight-100 {
	font-weight: 100 !important;
}

.line-h0 {
	line-height: 0 !important;
}

.line-h {
	line-height: 1 !important;
}

.line-h-sm {
	line-height: 1.2 !important;
}

.line-h-md {
	line-height: 1.5 !important;
}

.line-h-lg {
	line-height: 2 !important;
}

.line-h-big {
	line-height: 3 !important;
}

.line-through {
	text-decoration: line-through;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.row {
	box-sizing: border-box !important;
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
}

[class*='col-'],
[class*='span-'],
[class*='span24-'] {
	min-height: 1px;
	box-sizing: border-box !important;
}

/* 栅栏一 */
.col-1 {
	width: 62.5rpx !important;
}

.col-2 {
	width: 125rpx !important;
}

.col-3 {
	width: 187.5rpx !important;
}

.col-4 {
	width: 250rpx !important;
}

.col-5 {
	width: 312.5rpx !important;
}

.col-6 {
	width: 375rpx !important;
}

.col-7 {
	width: 437.5rpx !important;
}

.col-8 {
	width: 500rpx !important;
}

.col-9 {
	width: 562.5rpx !important;
}

.col-10 {
	width: 625rpx !important;
}

.col-11 {
	width: 687.5rpx !important;
}

.col-12 {
	width: 750rpx !important;
}

/* 栅栏二 */
.span-1 {
	width: 5%;
}

.span-2 {
	width: 10%;
}

.span-3 {
	width: 15%;
}

.span-4 {
	width: 20%;
}

.span-5 {
	width: 25%;
}

.span-6 {
	width: 30%;
}

.span-7 {
	width: 35%;
}

.span-8 {
	width: 40%;
}

.span-9 {
	width: 45%;
}

.span-10 {
	width: 50%;
}

.span-11 {
	width: 55%;
}

.span-12 {
	width: 60%;
}

.span-13 {
	width: 65%;
}

.span-14 {
	width: 70%;
}

.span-15 {
	width: 75%;
}

.span-16 {
	width: 80%;
}

.span-17 {
	width: 85%;
}

.span-18 {
	width: 90%;
}

.span-19 {
	width: 95%;
}

.span-20 {
	width: 100%;
}

/* 栅栏三 */
.span24-1 {
	width: 4.17%;
}

.span24-2 {
	width: 8.33%;
}

.span24-3 {
	width: 12.5%;
}

.span24-4 {
	width: 16.67%;
}

.span24-5 {
	width: 20.83%;
}

.span24-6 {
	width: 25%;
}

.span24-7 {
	width: 29.17%;
}

.span24-8 {
	width: 33.33%;
}

.span24-9 {
	width: 37.5%;
}

.span24-10 {
	width: 41.67%;
}

.span24-11 {
	width: 45.83%;
}

.span24-12 {
	width: 50%;
}

.span24-13 {
	width: 54.17%;
}

.span24-14 {
	width: 58.33%;
}

.span24-15 {
	width: 62.5%;
}

.span24-16 {
	width: 66.67%;
}

.span24-17 {
	width: 70.83%;
}

.span24-18 {
	width: 75%;
}

.span24-19 {
	width: 79.17%;
}

.span24-20 {
	width: 83.33%;
}

.span24-21 {
	width: 87.5%;
}

.span24-22 {
	width: 91.67%;
}

.span24-23 {
	width: 95.83%;
}

.span24-24 {
	width: 100%;
}


/* flex布局 */
.d-flex {
	display: flex;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.flex-1 {
	flex: 1;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-shrink {
	flex-shrink: 0;
}

.j-start {
	justify-content: flex-start;
}

.j-center {
	justify-content: center;
}

.j-end {
	justify-content: flex-end;
}

.j-sb {
	justify-content: space-between;
}

.j-around {
	justify-content: space-around;
}

.a-center {
	align-items: center;
}

.a-start {
	align-items: flex-start;
}

.a-end {
	align-items: flex-end;
}

.a-base {
	align-items: baseline;
}

.a-stretch {
	align-items: stretch;
}

.a-self-start {
	align-self: flex-start;
}

.a-self-auto {
	align-self: auto;
}

.a-self-end {
	align-self: flex-end;
}

.a-self-stretch {
	align-self: stretch;
}

.a-self-baseline {
	align-self: baseline;
}

/* Border */
.border {
	border-width: 1rpx !important;
	border-style: solid;
	border-color: var(--borderColor);
}

.border-top {
	border-top-width: 1rpx !important;
	border-top-style: solid;
	border-top-color: var(--borderColor);
}

.border-right {
	border-right-width: 1rpx !important;
	border-right-style: solid;
	border-right-color: var(--borderColor);
}

.border-bottom {
	border-bottom-width: 1rpx !important;
	border-bottom-style: solid;
	border-bottom-color: var(--borderColor);
}

.border-left {
	border-left-width: 1rpx !important;
	border-left-style: solid;
	border-left-color: var(--borderColor);
}

.border-0 {
	border-width: 0;
}

.border-top-0 {
	border-top-width: 0;
}

.border-right-0 {
	border-right-width: 0;
}

.border-bottom-0 {
	border-bottom-width: 0;
}

.border-left-0 {
	border-left-width: 0;
}

.border-primary {
	border-color: var(--primary) !important
}

.border-secondary {
	border-color: var(--secondary) !important
}

.border-success {
	border-color: var(--success) !important
}

.border-danger {
	border-color: var(--danger) !important
}

.border-warning {
	border-color: var(--warning) !important
}

.border-info {
	border-color: var(--info) !important
}

.border-light {
	border-color: var(--light) !important
}

.border-dark {
	border-color: var(--dark) !important
}

.border-white {
	border-color: var(--white) !important
}

.border-light-secondary {
	border-color: #F1F1F1 !important;
}

.rounded {
	border-radius: 5rpx;
}

.rounded-1 {
	border-radius: 10rpx;
}

.rounded-circle {
	border-radius: 100%;
}

.rounded-0 {
	border-radius: 0;
}

/* color */
.text-primary {
	color: var(--primary) !important;
}

.text-secondary {
	color: var(--secondary) !important;
}

.text-success {
	color: var(--success) !important;
}

.text-danger {
	color: var(--danger) !important;
}

.text-warning {
	color: var(--warning) !important;
}

.text-info {
	color: var(--info) !important;
}

.text-light {
	color: var(--light) !important;
}

.text-dark {
	color: var(--dark) !important;
}

.text-muted {
	color: var(--muted) !important;
}

.text-light-muted {
	color: var(--lightmuted) !important;
}

.text-white {
	color: var(--white) !important;
}

/* 文字换行溢出处理 */
.text-ellipsis1 {
	/* #ifndef APP-PLUS-NVUE */
	overflow: hidden;
	text-overflow: ellipsis;
	/* #endif */
	/* #ifdef APP-PLUS-NVUE */
	lines: 1;
	/* #endif */
	/* 显示多行 */
	display: -webkit-box;
	/* 5为显示的行数 */
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.text-ellipsis2 {
	/* #ifndef APP-PLUS-NVUE */
	overflow: hidden;
	text-overflow: ellipsis;
	/* #endif */
	/* #ifdef APP-PLUS-NVUE */
	lines: 1;
	/* #endif */
	/* 显示多行 */
	display: -webkit-box;
	/* 5为显示的行数 */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.bg-primary {
	background-color: var(--primary);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-success {
	background-color: var(--success);
}

.bg-danger {
	background-color: var(--danger);
}

.bg-warning {
	background-color: var(--warning);
}

.bg-info {
	background-color: var(--info);
}

.bg-light {
	background-color: var(--light);
}

.bg-dark {
	background-color: var(--dark);
}

.bg-white {
	background-color: var(--white);
}

.bg-light-secondary {
	background-color: #F1F1F1;
}

/* Spacing */
.m-0 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.m {
	margin-left: 5rpx !important;
	margin-right: 5rpx !important;
	margin-top: 5rpx !important;
	margin-bottom: 5rpx !important;
}

.m-1 {
	margin-left: 10rpx !important;
	margin-right: 10rpx !important;
	margin-top: 10rpx !important;
	margin-bottom: 10rpx !important;
}

.m-2 {
	margin-left: 20rpx !important;
	margin-right: 20rpx !important;
	margin-top: 20rpx !important;
	margin-bottom: 20rpx !important;
}

.m-3 {
	margin-left: 30rpx !important;
	margin-right: 30rpx !important;
	margin-top: 30rpx !important;
	margin-bottom: 30rpx !important;
}

.m-4 {
	margin-left: 40rpx !important;
	margin-right: 40rpx !important;
	margin-top: 40rpx !important;
	margin-bottom: 40rpx !important;
}

.m-5 {
	margin-left: 50rpx !important;
	margin-right: 50rpx !important;
	margin-top: 50rpx !important;
	margin-bottom: 50rpx !important;
}

.mx-0 {
	margin-left: 0;
	margin-right: 0;
}

.mx {
	margin-left: 5rpx !important;
	margin-right: 5rpx !important;
}

.mx-1 {
	margin-left: 10rpx !important;
	margin-right: 10rpx !important;
}

.mx-2 {
	margin-left: 20rpx !important;
	margin-right: 20rpx !important;
}

.mx-3 {
	margin-left: 30rpx !important;
	margin-right: 30rpx !important;
}

.mx-4 {
	margin-left: 40rpx !important;
	margin-right: 40rpx !important;
}

.mx-5 {
	margin-left: 50rpx !important;
	margin-right: 50rpx !important;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.my {
	margin-top: 5rpx !important;
	margin-bottom: 5rpx !important;
}

.my-1 {
	margin-top: 10rpx !important;
	margin-bottom: 10rpx !important;
}

.my-2 {
	margin-top: 20rpx !important;
	margin-bottom: 20rpx !important;
}

.my-3 {
	margin-top: 30rpx !important;
	margin-bottom: 30rpx !important;
}

.my-4 {
	margin-top: 40rpx !important;
	margin-bottom: 40rpx !important;
}

.my-5 {
	margin-top: 50rpx !important;
	margin-bottom: 50rpx !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt {
	margin-top: 5rpx !important;
}

.mt-auto {
	margin-top: auto !important;
}

.mt-1 {
	margin-top: 10rpx !important;
}

.mt-2 {
	margin-top: 20rpx !important;
}

.mt-3 {
	margin-top: 30rpx !important;
}

.mt-4 {
	margin-top: 40rpx !important;
}

.mt-5 {
	margin-top: 50rpx !important;
}

.mt-10 {
	margin-top: 100rpx !important;
}

.mt-12 {
	margin-top: 120rpx !important;
}

.mb-0 {
	margin-bottom: 0;
}

.mb {
	margin-bottom: 5rpx !important;
}

.mb-auto {
	margin-bottom: auto;
}

.mb-1 {
	margin-bottom: 10rpx !important;
}

.mb-2 {
	margin-bottom: 20rpx !important;
}

.mb-3 {
	margin-bottom: 30rpx !important;
}

.mb-4 {
	margin-bottom: 40rpx !important;
}

.mb-5 {
	margin-bottom: 50rpx !important;
}

.ml-0 {
	margin-left: 0;
}

.ml {
	margin-left: 5rpx !important;
}

.ml-auto {
	margin-left: auto;
}

.ml-1 {
	margin-left: 10rpx !important;
}

.ml-2 {
	margin-left: 20rpx !important;
}

.ml-3 {
	margin-left: 30rpx !important;
}

.ml-4 {
	margin-left: 40rpx !important;
}

.ml-5 {
	margin-left: 50rpx !important;
}

.mr-0 {
	margin-right: 0;
}

.mr {
	margin-right: 5rpx !important;
}

.mr-1 {
	margin-right: 10rpx !important;
}

.mr-2 {
	margin-right: 20rpx !important;
}

.mr-3 {
	margin-right: 30rpx !important;
}

.mr-4 {
	margin-right: 40rpx !important;
}

.mr-5 {
	margin-right: 50rpx !important;
}

.p-0 {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.p {
	padding-left: 5rpx !important;
	padding-right: 5rpx !important;
	padding-top: 5rpx !important;
	padding-bottom: 5rpx !important;
}

.p-1 {
	padding-left: 10rpx !important;
	padding-right: 10rpx !important;
	padding-top: 10rpx !important;
	padding-bottom: 10rpx !important;
}

.p-2 {
	padding-left: 20rpx !important;
	padding-right: 20rpx !important;
	padding-top: 20rpx !important;
	padding-bottom: 20rpx !important;
}

.p-3 {
	padding-left: 30rpx !important;
	padding-right: 30rpx !important;
	padding-top: 30rpx !important;
	padding-bottom: 30rpx !important;
}

.p-4 {
	padding-left: 40rpx !important;
	padding-right: 40rpx !important;
	padding-top: 40rpx !important;
	padding-bottom: 40rpx !important;
}

.p-5 {
	padding-left: 50rpx !important;
	padding-right: 50rpx !important;
	padding-top: 50rpx !important;
	padding-bottom: 50rpx !important;
}

.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.px {
	padding-left: 5rpx !important;
	padding-right: 5rpx !important;
}

.px-1 {
	padding-left: 10rpx !important;
	padding-right: 10rpx !important;
}

.px-2 {
	padding-left: 20rpx !important;
	padding-right: 20rpx !important;
}

.px-3 {
	padding-left: 30rpx !important;
	padding-right: 30rpx !important;
}

.px-4 {
	padding-left: 40rpx !important;
	padding-right: 40rpx !important;
}

.px-5 {
	padding-left: 50rpx !important;
	padding-right: 50rpx !important;
}

.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.py {
	padding-top: 5rpx !important;
	padding-bottom: 5rpx !important;
}

.py-1 {
	padding-top: 10rpx !important;
	padding-bottom: 10rpx !important;
}

.py-2 {
	padding-top: 20rpx !important;
	padding-bottom: 20rpx !important;
}

.py-3 {
	padding-top: 30rpx !important;
	padding-bottom: 30rpx !important;
}

.py-4 {
	padding-top: 40rpx !important;
	padding-bottom: 40rpx !important;
}

.py-5 {
	padding-top: 50rpx !important;
	padding-bottom: 50rpx !important;
}

.pt-0 {
	padding-top: 0;
}

.pt {
	padding-top: 5rpx !important;
}

.pt-1 {
	padding-top: 10rpx !important;
}

.pt-2 {
	padding-top: 20rpx !important;
}

.pt-3 {
	padding-top: 30rpx !important;
}

.pt-4 {
	padding-top: 40rpx !important;
}

.pt-5 {
	padding-top: 50rpx !important;
}

.pt-6 {
	padding-top: 60rpx !important;
}

.pt-7 {
	padding-top: 70rpx !important;
}

.pt-8 {
	padding-top: 80rpx !important;
}

.pt-9 {
	padding-top: 90rpx !important;
}

.pt-10 {
	padding-top: 100rpx !important;
}

.pb-0 {
	padding-bottom: 0;
}

.pb {
	padding-bottom: 5rpx !important;
}

.pb-1 {
	padding-bottom: 10rpx !important;
}

.pb-2 {
	padding-bottom: 20rpx !important;
}

.pb-3 {
	padding-bottom: 30rpx !important;
}

.pb-4 {
	padding-bottom: 40rpx !important;
}

.pb-5 {
	padding-bottom: 50rpx !important;
}

.pb-6 {
	padding-bottom: 60rpx !important;
}

.pb-7 {
	padding-bottom: 70rpx !important;
}

.pb-8 {
	padding-bottom: 80rpx !important;
}

.pb-9 {
	padding-bottom: 90rpx !important;
}

.pb-10 {
	padding-bottom: 100rpx !important;
}

.pl-0 {
	padding-left: 0;
}

.pl {
	padding-left: 5rpx !important;
}

.pl-1 {
	padding-left: 10rpx !important;
}

.pl-2 {
	padding-left: 20rpx !important;
}

.pl-3 {
	padding-left: 30rpx !important;
}

.pl-4 {
	padding-left: 40rpx !important;
}

.pl-5 {
	padding-left: 50rpx !important;
}

.pl-6 {
	padding-left: 60rpx !important;
}

.pl-7 {
	padding-left: 70rpx !important;
}

.pl-8 {
	padding-left: 80rpx !important;
}

.pl-9 {
	padding-left: 90rpx !important;
}

.pl-10 {
	padding-left: 100rpx !important;
}

.pr-0 {
	padding-right: 0;
}

.pr {
	padding-right: 5rpx !important;
}

.pr-1 {
	padding-right: 10rpx !important;
}

.pr-2 {
	padding-right: 20rpx !important;
}

.pr-3 {
	padding-right: 30rpx !important;
}

.pr-4 {
	padding-right: 40rpx !important;
}

.pr-5 {
	padding-right: 50rpx !important;
}

.pr-6 {
	padding-right: 60rpx !important;
}

.pr-7 {
	padding-right: 70rpx !important;
}

.pr-8 {
	padding-right: 80rpx !important;
}

.pr-9 {
	padding-right: 90rpx !important;
}

.pr-10 {
	padding-right: 100rpx !important;
}

/* 层级 */
.index-1 {
	z-index: 10;
}

.index-2 {
	z-index: 20;
}

.index-3 {
	z-index: 30;
}

.index-4 {
	z-index: 40;
}

.index-5 {
	z-index: 50;
}

/* 变换 */
.tf-half {
	transform: translate(-50%, -50%);
}

.tf-half-y {
	transform: translateY(-50%);
}

.tf-half-x {
	transform: translateX(-50%);
}

.tf-scale-9 {
	transform: scale(.9);
}

.tf-scale-8 {
	transform: scale(.8);
}

.tf-scale-7 {
	transform: scale(.7);
}

.tf-scale-6 {
	transform: scale(.6);
}

.tf-scale-5 {
	transform: scale(.5);
}

.tf-scale-4 {
	transform: scale(.4);
}

.tf-scale-3 {
	transform: scale(.3);
}

.tf-scale-2 {
	transform: scale(.2);
}

.tf-scale-1 {
	transform: scale(.1);
}

.tf-rotate-45 {
	transform: rotate(45deg);
}

.tf-rotate-90 {
	transform: rotate(90deg);
}

.tf-rotate-180 {
	transform: rotate(180deg);
}

.tf-rotate-360 {
	transform: rotate(360deg);
}

/* 图片 */
video, image {
	display: block;
}

/* 透明滚动条 */
::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent !important;
}

button::after {
	border: none;
}

button {
	background-color: transparent;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	line-height: inherit;
	border-radius: 0;
}

.hidden {
	overflow: hidden;
}

.normal{
	white-space: normal;
}

.initial{
	white-space: initial;
}
