/* 定位 */
.position-absolute {
	position: absolute !important;
}

.position-fixed {
	position: fixed !important;
}

.position-relative {
	position: relative !important;
}

.left-0 {
	left: 0 !important;
}

.top-0 {
	top: 0 !important;
}

.bottom-0 {
	bottom: 0 !important;
}

.right-0 {
	right: 0 !important;
}

.text-center {
	text-align: center !important;
}

/* 宽高 */
.w-100 {
	width: 750px !important;
}

.w-50 {
	width: 375px !important;
}

.h-100 {
	height: 1250px !important;
}

.h-50 {
	width: 625px !important;
}

/* 字体 */
.font {
	font-size: 25px !important;
}

.font-sm {
	font-size: 20px !important;
}

.font-md {
	font-size: 30px !important;
}

.font-lg {
	font-size: 40px !important;
}

.font-big {
	font-size: 60px !important;
}

.font-weight {
	font-weight: 600 !important;
}

.font-weight-100 {
	font-weight: 100 !important;
}

.line-through {
	text-decoration: line-through !important;
}


/*  -- 栅格布局 -- */
.row {
	flex-direction: row;
	flex-wrap: wrap !important;
}

.col-1 {
	width: 62.5px !important;
}

.col-2 {
	width: 125px !important;
}

.col-3 {
	width: 187.5px !important;
}

.col-4 {
	width: 250px !important;
}

.col-5 {
	width: 312.5px !important;
}

.col-6 {
	width: 375px !important;
}

.col-7 {
	width: 437.5px !important;
}

.col-8 {
	width: 500px !important;
}

.col-9 {
	width: 562.5px !important;
}

.col-10 {
	width: 625px !important;
}

.col-11 {
	width: 687.5px !important;
}

.col-12 {
	width: 750px !important;
}

/* flex布局 */
.flex-1 {
	flex: 1 !important;
}

.flex-column {
	flex-direction: column !important;
}

.flex-row {
	flex-direction: row !important;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.flex-nowrap {
	flex-wrap: nowrap !important;
}

.j-start {
	justify-content: flex-start !important;
}

.j-center {
	justify-content: center !important;
}

.j-end {
	justify-content: flex-end !important;
}

.j-sb {
	justify-content: space-between !important;
}

.a-center {
	align-items: center !important;
}

.a-start {
	align-items: flex-start !important;
}

.a-end {
	align-items: flex-end !important;
}

.a-stretch {
	align-items: stretch !important;
}

.a-baseline {
	align-items: baseline !important;
}

/* Border */
.border {
	border-width: 1px;
	border-style: solid;
	border-color: #dee2e6;
}

.border-top {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dee2e6;
}

.border-right {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dee2e6;
}

.border-bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dee2e6;
}

.border-left {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #dee2e6;
}

.border-0 {
	border-width: 0;
}

.border-top-0 {
	border-top-width: 0;
}

.border-right-0 {
	border-right-width: 0;
}

.border-bottom-0 {
	border-bottom-width: 0;
}

.border-left-0 {
	border-left-width: 0;
}

.border-primary {
	border-color: #007bff;
}

.border-secondary {
	border-color: #6c757d;
}

.border-success {
	border-color: #6c757d;
}

.border-danger {
	border-color: #dc3545;
}

.border-warning {
	border-color: #ffc107;
}

.border-info {
	border-color: #17a2b8;
}

.border-light {
	border-color: #f8f9fa;
}

.border-dark {
	border-color: #343a40;
}

.border-white {
	border-color: #ffffff;
}

.border-light-secondary {
	border-color: #F1F1F1 !important;
}

.rounded {
	border-radius: 5px;
}

.rounded-circle {
	border-radius: 100%;
}

.rounded-0 {
	border-radius: 0;
}

/* color */
.text-primary {
	color: #007bff;
}

.text-secondary {
	color: #6c757d;
}

.text-success {
	color: #6c757d;
}

.text-danger {
	color: #dc3545;
}

.text-warning {
	color: #ffc107;
}

.text-info {
	color: #17a2b8;
}

.text-light {
	color: #f8f9fa;
}

.text-dark {
	color: #343a40;
}

.text-muted {
	color: #6c757d;
}

.text-light-muted {
	color: #B2B2B2 !important;
}

.text-white {
	color: #ffffff;
}

.bg-primary {
	background-color: #007bff;
}

.bg-secondary {
	background-color: #6c757d;
}

.bg-success {
	background-color: #6c757d;
}

.bg-danger {
	background-color: #dc3545;
}

.bg-warning {
	background-color: #ffc107;
}

.bg-info {
	background-color: #17a2b8;
}

.bg-light {
	background-color: #f8f9fa;
}

.bg-dark {
	background-color: #343a40;
}

.bg-white {
	background-color: #ffffff;
}

/* Spacing */
.m-0 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.m {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.m-1 {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.m-2 {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.m-3 {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.m-4 {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.m-5 {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.mx-0 {
	margin-left: 0;
	margin-right: 0 !important;
}

.mx {
	margin-left: 5px;
	margin-right: 5px !important;
}

.mx-1 {
	margin-left: 10px;
	margin-right: 10px !important;
}

.mx-2 {
	margin-left: 20px;
	margin-right: 20px !important;
}

.mx-3 {
	margin-left: 30px;
	margin-right: 30px !important;
}

.mx-4 {
	margin-left: 40px;
	margin-right: 40px !important;
}

.mx-5 {
	margin-left: 50px;
	margin-right: 50px !important;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0 !important;
}

.my {
	margin-top: 5px;
	margin-bottom: 5px !important;
}

.my-1 {
	margin-top: 10px;
	margin-bottom: 10px !important;
}

.my-2 {
	margin-top: 20px;
	margin-bottom: 20px !important;
}

.my-3 {
	margin-top: 30px;
	margin-bottom: 30px !important;
}

.my-4 {
	margin-top: 40px;
	margin-bottom: 40px !important;
}

.my-5 {
	margin-top: 50px;
	margin-bottom: 50px !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt {
	margin-top: 5px !important;
}

.mt-1 {
	margin-top: 10px !important;
}

.mt-2 {
	margin-top: 20px !important;
}

.mt-3 {
	margin-top: 30px !important;
}

.mt-4 {
	margin-top: 40px !important;
}

.mt-5 {
	margin-top: 50px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb {
	margin-bottom: 5px !important;
}

.mb-1 {
	margin-bottom: 10px !important;
}

.mb-2 {
	margin-bottom: 20px !important;
}

.mb-3 {
	margin-bottom: 30px !important;
}

.mb-4 {
	margin-bottom: 40px !important;
}

.mb-5 {
	margin-bottom: 50px !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.ml {
	margin-left: 5px !important;
}

.ml-1 {
	margin-left: 10px !important;
}

.ml-2 {
	margin-left: 20px !important;
}

.ml-3 {
	margin-left: 30px !important;
}

.ml-4 {
	margin-left: 40px !important;
}

.ml-5 {
	margin-left: 50px !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.mr {
	margin-right: 5px !important;
}

.mr-1 {
	margin-right: 10px !important;
}

.mr-2 {
	margin-right: 20px !important;
}

.mr-3 {
	margin-right: 30px !important;
}

.mr-4 {
	margin-right: 40px !important;
}

.mr-5 {
	margin-right: 50px !important;
}

.p-0 {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.p {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.p-1 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.p-2 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.p-3 {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.p-4 {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.p-5 {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.px {
	padding-left: 5px;
	padding-right: 5px;
}

.px-1 {
	padding-left: 10px;
	padding-right: 10px;
}

.px-2 {
	padding-left: 20px;
	padding-right: 20px;
}

.px-3 {
	padding-left: 30px;
	padding-right: 30px;
}

.px-4 {
	padding-left: 40px;
	padding-right: 40px;
}

.px-5 {
	padding-left: 50px;
	padding-right: 50px;
}

.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.py {
	padding-top: 5px;
	padding-bottom: 5px;
}

.py-1 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.py-2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.py-3 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.py-4 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.py-5 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pt-0 {
	padding-top: 0;
}

.pt {
	padding-top: 5px;
}

.pt-1 {
	padding-top: 10px;
}

.pt-2 {
	padding-top: 20px;
}

.pt-3 {
	padding-top: 30px;
}

.pt-4 {
	padding-top: 40px;
}

.pt-5 {
	padding-top: 50px;
}

.pb-0 {
	padding-bottom: 0;
}

.pb {
	padding-bottom: 5px;
}

.pb-1 {
	padding-bottom: 10px;
}

.pb-2 {
	padding-bottom: 20px;
}

.pb-3 {
	padding-bottom: 30px;
}

.pb-4 {
	padding-bottom: 40px;
}

.pb-5 {
	padding-bottom: 50px;
}

.pl-0 {
	padding-left: 0;
}

.pl {
	padding-left: 5px;
}

.pl-1 {
	padding-left: 10px;
}

.pl-2 {
	padding-left: 20px;
}

.pl-3 {
	padding-left: 30px;
}

.pl-4 {
	padding-left: 40px;
}

.pl-5 {
	padding-left: 50px;
}

.pr-0 {
	padding-right: 0;
}

.pr {
	padding-right: 5px;
}

.pr-1 {
	padding-right: 10px;
}

.pr-2 {
	padding-right: 20px;
}

.pr-3 {
	padding-right: 30px;
}

.pr-4 {
	padding-right: 40px;
}

.pr-5 {
	padding-right: 50px;
}
